<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResiOneMobile">
        <activity
            android:name="Comunicados.ComunicadosFeed"
            android:exported="true"
            android:label="Comunicados"
            android:theme="@style/Theme.ResiOneMobile" />
        <activity
            android:name="Finanzas.RegistroCuota"
            android:exported="true"
            android:label="Registrar Cuota"
            android:theme="@style/Theme.ResiOneMobile" />
        <activity
            android:name="Finanzas.RegistroPago"
            android:exported="true"
            android:label="Registrar Pago"
            android:theme="@style/Theme.ResiOneMobile" />
        <activity
            android:name="Finanzas.HistorialPagos"
            android:exported="true"
            android:label="Historial de Pagos"
            android:theme="@style/Theme.ResiOneMobile" />
        <activity
            android:name="Seguridad.SeguridadMain"
            android:exported="true"
            android:label="Seguridad"
            android:theme="@style/Theme.ResiOneMobile" />
        <activity
            android:name="Seguridad.RegistroEntrada"
            android:exported="true"
            android:label="Registrar Entrada"
            android:theme="@style/Theme.ResiOneMobile" />
        <activity
            android:name="Seguridad.RegistroSalida"
            android:exported="true"
            android:label="Registrar Salida"
            android:theme="@style/Theme.ResiOneMobile" />
        <activity
            android:name="Seguridad.Bitacora"
            android:exported="true"
            android:label="Bitácora de Acceso"
            android:theme="@style/Theme.ResiOneMobile" />
        <activity
            android:name="Registro.CrearRegistro"
            android:exported="true"
            android:label="Crear Registro"
            android:theme="@style/Theme.ResiOneMobile" />
        <activity
            android:name="Reservas.ReservarEspacio"
            android:exported="true"
            android:label="@string/title_activity_reservar_espacio"
            android:theme="@style/Theme.ResiOneMobile" />
        <activity
            android:name="Reservas.AdminReservas"
            android:exported="true"
            android:label="Administrar Reservas"
            android:theme="@style/Theme.ResiOneMobile" />
        <activity
            android:name="Reportes.Reportes"
            android:exported="true"
            android:label="Reportes"
            android:theme="@style/Theme.ResiOneMobile" />
        <activity
            android:name="Reportes.CrearReporte"
            android:exported="true"
            android:label="@string/title_activity_crear_reporte"
            android:theme="@style/Theme.ResiOneMobile" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ResiOneMobile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.resionemobile.ChatBot.ChatBotActivity"
            android:exported="false"
            android:label="ResiBot - Asistente"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>