<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResiOneMobile">
        <activity
            android:name="Registro.CrearRegistro"
            android:exported="true"
            android:label="Crear Registro"
            android:theme="@style/Theme.ResiOneMobile" />
        <activity
            android:name="Reservas.ReservarEspacio"
            android:exported="true"
            android:label="@string/title_activity_reservar_espacio"
            android:theme="@style/Theme.ResiOneMobile" />
        <activity
            android:name="Reservas.AdminReservas"
            android:exported="true"
            android:label="Administrar Reservas"
            android:theme="@style/Theme.ResiOneMobile" />
        <activity
            android:name="Reportes.Reportes"
            android:exported="true"
            android:label="Reportes"
            android:theme="@style/Theme.ResiOneMobile" />
        <activity
            android:name="Reportes.CrearReporte"
            android:exported="true"
            android:label="@string/title_activity_crear_reporte"
            android:theme="@style/Theme.ResiOneMobile" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.ResiOneMobile">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>